{{ define "navbar" }}
<style>
    @font-face {
        font-family: Sans;
        src: url("data:font/truetype;charset=utf-8;base64,{{ .FontB64 }}");
    }

    a:link, a:visited {
        color: #111111;
        text-decoration: none;
        font-family: Sans;
    }

</style>
<table border="1" style="border-collapse: collapse; border-color: #4285F4;
       width: 100%; height: 10%; box-shadow: 0 0 10px 5px #4285F4">
    <tr>
        <td>
            <a href="/user_info/">
                {{ if .Email }}
                <img src="{{ .Avatar }}" width="50" height="50" alt="username"/>
                {{ else }}
                <img src="data:image/jpg;base64,{{ .Avatar }}" width="50" height="50" alt="username"/>
                {{ end }}
            </a>
        </td>
        <td colspan="1" width="5%">
            &nbsp;<a href="/">Shortening</a>&nbsp;
        </td>
        <td colspan="1" width="5%">
            &nbsp;<a href="/tracking/">Tracking</a>&nbsp;
        </td>
        <td colspan="1" width="85%">
        </td>
        <td colspan="1">
            &nbsp;<a href="/about/">About</a>&nbsp;
        </td>
    </tr>
</table>
{{ end }}