{{ define "shorten" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shorts Ninja</title>
    <link rel="icon"
          href="https://raw.githubusercontent.com/baraa-almasri/shortsninja_chrome_extension/main/logo_128.png"
          type="image/icon type">
    <style>
        body, form, input, p {
            font-family: Sans;
        }
    </style>
</head>
<body>

{{ template "navbar" . }}
<br/><br/>

<script>
    function shorten(url) {
        const xhttp = new XMLHttpRequest();
        xhttp.open("GET", "/shorten/?url=" + url, false);
        xhttp.send();

        const resp = JSON.parse(xhttp.responseText);
        if (resp["valid_url"]) {
            const short = document.getElementById("short");
            short.href = "https://" + resp["short"];
            short.textContent = resp["short"];
            short.style = "text-decoration: underline; color: #4285F4; font-size: 22px";

            document.getElementById("copyURL").hidden = false
        } else {
            window.alert("enter a valid url!");
        }
    }

    function copyToClipboard(str) {
        let textArea = document.getElementById("dummyText");
        textArea.hidden = false;
        textArea.value = str;
        textArea.select();
        textArea.setSelectionRange(0, 99999);
        document.execCommand("copy");

        textArea.hidden = true;
    }
</script>

<input id="dummyText" type="text" hidden>

<fieldset style="border-color: #4285F4; box-shadow: 0 0 10px 5px #4285F4">
    <br/>
    <form onsubmit="shorten(url.value); return false;">
        <input style="height: 40px; width: 60%; font-size: 20px"
               type="text" name="url" placeholder="Type/Paste a URL to be shortened!">
        <input style="height: 45px; width: min-content; font-size: 25px"
               type="submit" value="Shorten">
        <br/><br/>
        <input style="height: 25px; font-size: 17px" type="button" onclick="copyToClipboard(short.href)"
               value="Copy URL" hidden id="copyURL">
        &nbsp;&nbsp;
        <a style="font-size: 17px" id="short" target="_blank" href="/">Your short URL will appear here :)</a>
        <br/><br/>
    </form>
</fieldset>

</body>
</html>
{{ end }}